{
  "openapi": "3.1.0",
  "info": {
    "title": "SendKit API",
    "description": "The SendKit API allows you to send transactional emails programmatically.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.sendkit.dev/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/emails": {
      "post": {
        "operationId": "sendEmail",
        "summary": "Send an email",
        "description": "Send a transactional email to a recipient. The `from` address must belong to a verified domain in your account. You must provide either `html` or `text` (or both).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendEmailRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendEmailResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "name": "validation_error",
                  "message": "Invalid API key."
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "name": "validation_error",
                  "message": "The from address domain is not verified."
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "name": "rate_limit_exceeded",
                  "message": "Rate limit exceeded. Please retry after 30 seconds."
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key from your SendKit dashboard. Pass it as a Bearer token in the Authorization header."
      }
    },
    "schemas": {
      "SendEmailRequest": {
        "type": "object",
        "required": ["from", "to", "subject"],
        "properties": {
          "from": {
            "type": "string",
            "format": "email",
            "description": "Sender email address. Must belong to a verified domain.",
            "example": "hello@yourdomain.com"
          },
          "to": {
            "type": "string",
            "format": "email",
            "description": "Recipient email address.",
            "example": "user@example.com"
          },
          "subject": {
            "type": "string",
            "maxLength": 998,
            "description": "Email subject line. Maximum 998 characters.",
            "example": "Welcome to SendKit"
          },
          "html": {
            "type": "string",
            "description": "HTML body of the email. Required if `text` is not provided.",
            "example": "<h1>Hello!</h1><p>Welcome aboard.</p>"
          },
          "text": {
            "type": "string",
            "description": "Plain text body of the email. Required if `html` is not provided.",
            "example": "Hello! Welcome aboard."
          },
          "cc": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            },
            "description": "Carbon copy recipients.",
            "example": ["cc@example.com"]
          },
          "bcc": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            },
            "description": "Blind carbon copy recipients.",
            "example": ["bcc@example.com"]
          },
          "reply_to": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            },
            "description": "Reply-to email addresses.",
            "example": ["support@yourdomain.com"]
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Custom email headers as key-value pairs.",
            "example": {
              "X-Custom-Header": "value"
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tag"
            },
            "description": "Metadata tags as key-value pairs."
          },
          "scheduled_at": {
            "type": "string",
            "format": "date-time",
            "description": "Schedule the email for future delivery. Must be a future ISO 8601 timestamp.",
            "example": "2026-03-05T10:30:00Z"
          },
          "attachments": {
            "type": "array",
            "maxItems": 10,
            "items": {
              "$ref": "#/components/schemas/Attachment"
            },
            "description": "File attachments. Maximum 10 per email."
          }
        }
      },
      "Tag": {
        "type": "object",
        "required": ["name", "value"],
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 256,
            "description": "Tag name.",
            "example": "campaign"
          },
          "value": {
            "type": "string",
            "maxLength": 256,
            "description": "Tag value.",
            "example": "welcome"
          }
        }
      },
      "Attachment": {
        "type": "object",
        "required": ["filename", "content"],
        "properties": {
          "filename": {
            "type": "string",
            "maxLength": 255,
            "description": "Name of the file.",
            "example": "invoice.pdf"
          },
          "content": {
            "type": "string",
            "description": "Base64-encoded file content.",
            "example": "JVBERi0xLjQKJeLj..."
          },
          "content_type": {
            "type": "string",
            "maxLength": 255,
            "description": "MIME type of the file. If not provided, it will be inferred from the filename.",
            "example": "application/pdf"
          }
        }
      },
      "SendEmailResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier of the created email.",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Error type identifier.",
            "example": "validation_error"
          },
          "message": {
            "type": "string",
            "description": "Human-readable error message.",
            "example": "The from address domain is not verified."
          }
        }
      }
    }
  }
}
