{
  "openapi": "3.1.0",
  "info": {
    "title": "SendKit API",
    "description": "The SendKit API allows you to send transactional emails programmatically.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.sendkit.dev/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/emails": {
      "post": {
        "operationId": "sendEmail",
        "summary": "Send an email",
        "tags": [
          "Emails"
        ],
        "description": "Send a transactional email to a recipient. The `from` address must belong to a verified domain in your account. You must provide either `html` or `text` (or both).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendEmailRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendEmailResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "name": "validation_error",
                  "message": "Invalid API key."
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "name": "validation_error",
                  "message": "The from address domain is not verified."
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "name": "rate_limit_exceeded",
                  "message": "Rate limit exceeded. Please retry after 30 seconds."
                }
              }
            }
          }
        }
      }
    },
    "/contacts": {
      "post": {
        "operationId": "upsertContact",
        "summary": "Upsert a contact",
        "tags": [
          "Contacts"
        ],
        "description": "Create a new contact or update an existing one if a contact with the same email already exists (upsert). You can optionally attach the contact to lists and set property values inline.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertContactRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "New contact created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "200": {
            "description": "Existing contact updated (upsert)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listContacts",
        "summary": "List contacts",
        "tags": [
          "Contacts"
        ],
        "description": "Retrieve a paginated list of contacts for your team. Results are ordered by creation date, newest first.",
        "responses": {
          "200": {
            "description": "A paginated list of contacts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedContacts"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/contacts/{id}": {
      "get": {
        "operationId": "getContact",
        "summary": "Get a contact",
        "tags": [
          "Contacts"
        ],
        "description": "Retrieve a single contact by ID, including their lists and property values.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The contact ID."
          }
        ],
        "responses": {
          "200": {
            "description": "The contact object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "updateContact",
        "summary": "Update a contact",
        "tags": [
          "Contacts"
        ],
        "description": "Update a contact's fields. Only the provided fields will be updated. You can also sync lists and properties inline.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The contact ID."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateContactRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      },
      "delete": {
        "operationId": "deleteContact",
        "summary": "Delete a contact",
        "tags": [
          "Contacts"
        ],
        "description": "Delete a contact by ID. This is a soft delete \u2014 the contact will no longer appear in API responses.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The contact ID."
          }
        ],
        "responses": {
          "204": {
            "description": "Contact deleted successfully"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/lists": {
      "post": {
        "operationId": "createList",
        "summary": "Create a list",
        "tags": [
          "Lists"
        ],
        "description": "Create a new contact list for your team.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateListRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "List created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/List"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      },
      "get": {
        "operationId": "listLists",
        "summary": "List all lists",
        "tags": [
          "Lists"
        ],
        "description": "Retrieve a paginated list of all contact lists for your team.",
        "responses": {
          "200": {
            "description": "A paginated list of lists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedLists"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/lists/{id}": {
      "get": {
        "operationId": "getList",
        "summary": "Get a list",
        "tags": [
          "Lists"
        ],
        "description": "Retrieve a single contact list by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The list ID."
          }
        ],
        "responses": {
          "200": {
            "description": "The list object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/List"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "updateList",
        "summary": "Update a list",
        "tags": [
          "Lists"
        ],
        "description": "Update a contact list's name.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The list ID."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateListRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/List"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      },
      "delete": {
        "operationId": "deleteList",
        "summary": "Delete a list",
        "tags": [
          "Lists"
        ],
        "description": "Delete a contact list by ID. Contacts in the list are not deleted.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The list ID."
          }
        ],
        "responses": {
          "204": {
            "description": "List deleted successfully"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Conflict \u2014 list is used by active campaigns or automations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "This list is used by active campaigns and cannot be deleted."
                }
              }
            }
          }
        }
      }
    },
    "/contacts/{id}/lists": {
      "post": {
        "operationId": "addContactToLists",
        "summary": "Add a contact to lists",
        "tags": [
          "Contacts"
        ],
        "description": "Add a contact to one or more lists. Lists that the contact already belongs to will be ignored.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The contact ID."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddContactToListsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact added to lists successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      },
      "get": {
        "operationId": "listContactLists",
        "summary": "List a contact's lists",
        "tags": [
          "Contacts"
        ],
        "description": "Retrieve a paginated list of lists that a contact belongs to.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The contact ID."
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of lists the contact belongs to",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedLists"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/contacts/{id}/lists/{listId}": {
      "delete": {
        "operationId": "removeContactFromList",
        "summary": "Remove a contact from a list",
        "tags": [
          "Contacts"
        ],
        "description": "Remove a contact from a specific list. The contact itself is not deleted.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The contact ID."
          },
          {
            "name": "listId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The list ID to remove the contact from."
          }
        ],
        "responses": {
          "204": {
            "description": "Contact removed from list successfully"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/properties": {
      "post": {
        "operationId": "createProperty",
        "summary": "Create a property",
        "tags": [
          "Properties"
        ],
        "description": "Create a new contact property for your team. Properties define custom fields that can be set on contacts.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePropertyRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Property created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Property"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      },
      "get": {
        "operationId": "listProperties",
        "summary": "List all properties",
        "tags": [
          "Properties"
        ],
        "description": "Retrieve a paginated list of all contact properties for your team.",
        "responses": {
          "200": {
            "description": "A paginated list of properties",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedProperties"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/properties/{id}": {
      "patch": {
        "operationId": "updateProperty",
        "summary": "Update a property",
        "tags": [
          "Properties"
        ],
        "description": "Update a contact property's key, type, or fallback value.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The property ID."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePropertyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Property updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Property"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      },
      "delete": {
        "operationId": "deleteProperty",
        "summary": "Delete a property",
        "tags": [
          "Properties"
        ],
        "description": "Delete a contact property by ID. All associated property values on contacts will also be removed.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The property ID."
          }
        ],
        "responses": {
          "204": {
            "description": "Property deleted successfully"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "Conflict \u2014 property is used in segment filters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "This property is used in segment filters and cannot be deleted."
                }
              }
            }
          }
        }
      }
    },
    "/suppressions": {
      "post": {
        "operationId": "createSuppression",
        "summary": "Add to suppression list",
        "tags": [
          "Suppressions"
        ],
        "description": "Add an email address to the suppression list. Suppressed emails will not receive any emails. If the email already exists, the existing entry is returned. The email is normalized to lowercase.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSuppressionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Suppression entry created or already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Suppression"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "listSuppressions",
        "summary": "List suppressions",
        "tags": [
          "Suppressions"
        ],
        "description": "Retrieve a paginated list of all suppressed email addresses.",
        "responses": {
          "200": {
            "description": "A paginated list of suppression entries",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedSuppressions"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/suppressions/{id}": {
      "delete": {
        "operationId": "deleteSuppression",
        "summary": "Remove from suppression list",
        "tags": [
          "Suppressions"
        ],
        "description": "Remove an email address from the suppression list. This allows the email to receive emails again.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The suppression entry ID.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Suppression entry removed successfully"
          },
          "401": {
            "description": "Unauthorized \u2014 missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Suppression entry not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/emails/validate": {
      "post": {
        "operationId": "validateEmail",
        "summary": "Validate an email address",
        "tags": [
          "Emails"
        ],
        "description": "Validate an email address by checking syntax, DNS records, mailbox existence, and whether it is a disposable or role-based address.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidateEmailRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Validation result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateEmailResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized \u2014 missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/domains": {
      "post": {
        "operationId": "createDomain",
        "summary": "Create a domain",
        "tags": [
          "Domains"
        ],
        "description": "Add a new sending domain to your account. The domain will be created with DNS records that you need to configure at your DNS provider before verifying. Your account has a domain limit based on your plan.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDomainRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Domain created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Forbidden \u2014 domain limit reached for your plan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "This action is unauthorized."
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      },
      "get": {
        "operationId": "listDomains",
        "summary": "List domains",
        "tags": [
          "Domains"
        ],
        "description": "Retrieve a paginated list of all domains in your account, including their DNS records and verification status.",
        "responses": {
          "200": {
            "description": "A paginated list of domains",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedDomains"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/domains/{id}": {
      "get": {
        "operationId": "getDomain",
        "summary": "Get a domain",
        "tags": [
          "Domains"
        ],
        "description": "Retrieve a single domain by ID, including its DNS records and current verification status.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The domain ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Domain details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "operationId": "updateDomain",
        "summary": "Update a domain",
        "tags": [
          "Domains"
        ],
        "description": "Update domain settings such as open tracking, click tracking, and TLS mode. Changes to tracking options are synced with the email provider.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The domain ID."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDomainRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Domain updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      },
      "delete": {
        "operationId": "deleteDomain",
        "summary": "Delete a domain",
        "tags": [
          "Domains"
        ],
        "description": "Delete a domain from your account. The domain must not have any active senders. All associated DNS records and provider configurations will be cleaned up.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The domain ID."
          }
        ],
        "responses": {
          "204": {
            "description": "Domain deleted successfully"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "description": "Domain has active senders and cannot be deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "message": "This domain has senders and cannot be deleted. Remove all senders first."
                }
              }
            }
          }
        }
      }
    },
    "/domains/{id}/verify": {
      "post": {
        "operationId": "verifyDomain",
        "summary": "Verify a domain",
        "tags": [
          "Domains"
        ],
        "description": "Trigger DNS verification for a domain. This checks that the required DNS records (DKIM, SPF, DMARC, MX) are properly configured. Verification runs asynchronously \u2014 poll the domain to check the updated status.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The domain ID."
          }
        ],
        "responses": {
          "200": {
            "description": "Verification started",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Domain verification started."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/health": {
      "get": {
        "operationId": "healthCheck",
        "summary": "Health check",
        "tags": [
          "General"
        ],
        "description": "Returns the current status of the API. This endpoint does not require authentication.",
        "security": [],
        "responses": {
          "200": {
            "description": "API is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ok"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key from your SendKit dashboard. Pass it as a Bearer token in the Authorization header."
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Unauthorized \u2014 missing or invalid API key",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "message": "Invalid API key."
            }
          }
        }
      },
      "NotFound": {
        "description": "The requested resource was not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "message": "Not found."
            }
          }
        }
      },
      "ValidationError": {
        "description": "Validation error \u2014 invalid or missing parameters",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "example": {
              "message": "The email field is required."
            }
          }
        }
      }
    },
    "schemas": {
      "SendEmailRequest": {
        "type": "object",
        "required": [
          "from",
          "to",
          "subject"
        ],
        "properties": {
          "from": {
            "type": "string",
            "description": "Sender email address. Must belong to a verified domain. Accepts plain email or with display name.",
            "example": "Your Name <hello@yourdomain.com>"
          },
          "to": {
            "type": "string",
            "format": "email",
            "description": "Recipient email address.",
            "example": "user@example.com"
          },
          "subject": {
            "type": "string",
            "maxLength": 998,
            "description": "Email subject line. Maximum 998 characters.",
            "example": "Welcome to SendKit"
          },
          "html": {
            "type": "string",
            "description": "HTML body of the email. Required if `text` is not provided.",
            "example": "<h1>Hello!</h1><p>Welcome aboard.</p>"
          },
          "text": {
            "type": "string",
            "description": "Plain text body of the email. Required if `html` is not provided.",
            "example": "Hello! Welcome aboard."
          },
          "cc": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            },
            "description": "Carbon copy recipients.",
            "example": [
              "cc@example.com"
            ]
          },
          "bcc": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            },
            "description": "Blind carbon copy recipients.",
            "example": [
              "bcc@example.com"
            ]
          },
          "reply_to": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            },
            "description": "Reply-to email addresses.",
            "example": [
              "support@yourdomain.com"
            ]
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Custom email headers as key-value pairs.",
            "example": {
              "X-Custom-Header": "value"
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tag"
            },
            "description": "Metadata tags as key-value pairs."
          },
          "scheduled_at": {
            "type": "string",
            "format": "date-time",
            "description": "Schedule the email for future delivery. Must be a future ISO 8601 timestamp.",
            "example": "2026-03-05 10:30:00"
          },
          "attachments": {
            "type": "array",
            "maxItems": 10,
            "items": {
              "$ref": "#/components/schemas/Attachment"
            },
            "description": "File attachments. Maximum 10 per email."
          }
        }
      },
      "Tag": {
        "type": "object",
        "required": [
          "name",
          "value"
        ],
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 256,
            "description": "Tag name.",
            "example": "campaign"
          },
          "value": {
            "type": "string",
            "maxLength": 256,
            "description": "Tag value.",
            "example": "welcome"
          }
        }
      },
      "Attachment": {
        "type": "object",
        "required": [
          "filename",
          "content"
        ],
        "properties": {
          "filename": {
            "type": "string",
            "maxLength": 255,
            "description": "Name of the file.",
            "example": "invoice.pdf"
          },
          "content": {
            "type": "string",
            "description": "Base64-encoded file content.",
            "example": "JVBERi0xLjQKJeLj..."
          },
          "content_type": {
            "type": "string",
            "maxLength": 255,
            "description": "MIME type of the file. If not provided, it will be inferred from the filename.",
            "example": "application/pdf"
          }
        }
      },
      "SendEmailResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier of the created email.",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          }
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier.",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "The contact's email address.",
            "example": "john@example.com"
          },
          "first_name": {
            "type": [
              "string",
              "null"
            ],
            "description": "The contact's first name.",
            "example": "John"
          },
          "last_name": {
            "type": [
              "string",
              "null"
            ],
            "description": "The contact's last name.",
            "example": "Doe"
          },
          "user_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "An external user identifier from your application.",
            "example": "ext_123"
          },
          "unsubscribed": {
            "type": "boolean",
            "description": "Whether the contact has unsubscribed.",
            "example": false
          },
          "properties": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Custom property values. Keys are uppercased property names.",
            "example": {
              "COMPANY": "Acme",
              "PLAN": "pro"
            }
          },
          "lists": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ListSummary"
            },
            "description": "Lists this contact belongs to."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the contact was created.",
            "example": "2026-03-03 10:00:00"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the contact was last updated.",
            "example": "2026-03-03 10:00:00"
          }
        }
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "current_page": {
            "type": "integer",
            "description": "The current page number.",
            "example": 1
          },
          "from": {
            "type": [
              "integer",
              "null"
            ],
            "description": "The index of the first item on the current page.",
            "example": 1
          },
          "last_page": {
            "type": "integer",
            "description": "The last available page number.",
            "example": 3
          },
          "per_page": {
            "type": "integer",
            "description": "The number of items per page.",
            "example": 25
          },
          "to": {
            "type": [
              "integer",
              "null"
            ],
            "description": "The index of the last item on the current page.",
            "example": 25
          },
          "total": {
            "type": "integer",
            "description": "The total number of items.",
            "example": 75
          },
          "path": {
            "type": "string",
            "description": "The base URL for the paginated resource.",
            "example": "https://api.sendkit.dev/v1/contacts"
          }
        }
      },
      "PaginationLinks": {
        "type": "object",
        "properties": {
          "first": {
            "type": [
              "string",
              "null"
            ],
            "description": "URL to the first page.",
            "example": "https://api.sendkit.dev/v1/contacts?page=1"
          },
          "last": {
            "type": [
              "string",
              "null"
            ],
            "description": "URL to the last page.",
            "example": "https://api.sendkit.dev/v1/contacts?page=3"
          },
          "prev": {
            "type": [
              "string",
              "null"
            ],
            "description": "URL to the previous page, or null if on the first page.",
            "example": null
          },
          "next": {
            "type": [
              "string",
              "null"
            ],
            "description": "URL to the next page, or null if on the last page.",
            "example": "https://api.sendkit.dev/v1/contacts?page=2"
          }
        }
      },
      "PaginatedContacts": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Contact"
            }
          },
          "links": {
            "$ref": "#/components/schemas/PaginationLinks"
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        }
      },
      "UpsertContactRequest": {
        "type": "object",
        "required": [
          "email"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "maxLength": 255,
            "description": "The contact's email address. If a contact with this email already exists, it will be updated.",
            "example": "john@example.com"
          },
          "first_name": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 255,
            "description": "The contact's first name.",
            "example": "John"
          },
          "last_name": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 255,
            "description": "The contact's last name.",
            "example": "Doe"
          },
          "user_id": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 255,
            "description": "An external user identifier from your application.",
            "example": "ext_123"
          },
          "unsubscribed": {
            "type": "boolean",
            "description": "Whether the contact should be marked as unsubscribed.",
            "default": false,
            "example": false
          },
          "list_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "description": "List IDs to attach the contact to. Replaces existing list memberships.",
            "example": [
              "550e8400-e29b-41d4-a716-446655440000"
            ]
          },
          "properties": {
            "type": "object",
            "additionalProperties": {
              "type": [
                "string",
                "null"
              ]
            },
            "description": "Property values to set on the contact. Keys must match existing property keys.",
            "example": {
              "company": "Acme",
              "plan": "pro"
            }
          }
        }
      },
      "UpdateContactRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "maxLength": 255,
            "description": "The contact's email address.",
            "example": "john@example.com"
          },
          "first_name": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 255,
            "description": "The contact's first name.",
            "example": "John"
          },
          "last_name": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 255,
            "description": "The contact's last name.",
            "example": "Doe"
          },
          "user_id": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 255,
            "description": "An external user identifier from your application.",
            "example": "ext_123"
          },
          "unsubscribed": {
            "type": "boolean",
            "description": "Whether the contact should be marked as unsubscribed.",
            "example": false
          },
          "list_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "description": "List IDs to attach the contact to. Replaces existing list memberships.",
            "example": [
              "550e8400-e29b-41d4-a716-446655440000"
            ]
          },
          "properties": {
            "type": "object",
            "additionalProperties": {
              "type": [
                "string",
                "null"
              ]
            },
            "description": "Property values to set on the contact. Keys must match existing property keys.",
            "example": {
              "company": "Acme"
            }
          }
        }
      },
      "List": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier.",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "name": {
            "type": "string",
            "description": "The name of the list.",
            "example": "Newsletter"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the list was created.",
            "example": "2026-03-03 10:00:00"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the list was last updated.",
            "example": "2026-03-03 10:00:00"
          }
        }
      },
      "ListSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "name": {
            "type": "string",
            "example": "Newsletter"
          },
          "created_at": {
            "type": "string",
            "description": "When the list was created.",
            "example": "2026-03-03 10:00:00"
          },
          "updated_at": {
            "type": "string",
            "description": "When the list was last updated.",
            "example": "2026-03-03 10:00:00"
          }
        }
      },
      "PaginatedLists": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/List"
            }
          },
          "links": {
            "$ref": "#/components/schemas/PaginationLinks"
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        }
      },
      "CreateListRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 255,
            "description": "The name of the list.",
            "example": "Newsletter"
          }
        }
      },
      "UpdateListRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 255,
            "description": "The new name of the list.",
            "example": "Newsletter Subscribers"
          }
        }
      },
      "AddContactToListsRequest": {
        "type": "object",
        "required": [
          "list_ids"
        ],
        "properties": {
          "list_ids": {
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "description": "IDs of the lists to add the contact to.",
            "example": [
              "550e8400-e29b-41d4-a716-446655440000",
              "660e8400-e29b-41d4-a716-446655440000"
            ]
          }
        }
      },
      "Property": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier.",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "key": {
            "type": "string",
            "description": "The property key. Used when setting values on contacts.",
            "example": "company"
          },
          "type": {
            "type": "string",
            "enum": [
              "string",
              "number",
              "date"
            ],
            "description": "The data type of the property.",
            "example": "string"
          },
          "fallback_value": {
            "type": [
              "string",
              "null"
            ],
            "description": "Default value used when a contact doesn't have this property set.",
            "example": "N/A"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the property was created.",
            "example": "2026-03-03 10:00:00"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the property was last updated.",
            "example": "2026-03-03 10:00:00"
          }
        }
      },
      "PaginatedProperties": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Property"
            }
          },
          "links": {
            "$ref": "#/components/schemas/PaginationLinks"
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        }
      },
      "CreatePropertyRequest": {
        "type": "object",
        "required": [
          "key",
          "type"
        ],
        "properties": {
          "key": {
            "type": "string",
            "maxLength": 255,
            "description": "The property key. Must be unique per team.",
            "example": "company"
          },
          "type": {
            "type": "string",
            "enum": [
              "string",
              "number",
              "date"
            ],
            "description": "The data type of the property.",
            "example": "string"
          },
          "fallback_value": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 1000,
            "description": "Default value used when a contact doesn't have this property set.",
            "example": "N/A"
          }
        }
      },
      "UpdatePropertyRequest": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "maxLength": 255,
            "description": "The property key.",
            "example": "company"
          },
          "type": {
            "type": "string",
            "enum": [
              "string",
              "number",
              "date"
            ],
            "description": "The data type of the property.",
            "example": "string"
          },
          "fallback_value": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 1000,
            "description": "Default value used when a contact doesn't have this property set.",
            "example": "N/A"
          }
        }
      },
      "Domain": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier.",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "name": {
            "type": "string",
            "description": "The domain name.",
            "example": "yourdomain.com"
          },
          "status": {
            "type": "string",
            "enum": [
              "not_started",
              "pending",
              "verified",
              "partially_verified",
              "failed",
              "temporary_failure"
            ],
            "description": "The current verification status of the domain.",
            "example": "verified"
          },
          "region": {
            "type": "string",
            "description": "The AWS region where the domain is configured.",
            "example": "us-east-1"
          },
          "open_tracking": {
            "type": "boolean",
            "description": "Whether open tracking is enabled.",
            "example": true
          },
          "click_tracking": {
            "type": "boolean",
            "description": "Whether click tracking is enabled.",
            "example": true
          },
          "tls": {
            "type": "string",
            "enum": [
              "opportunistic",
              "enforced"
            ],
            "description": "The TLS delivery mode.",
            "example": "opportunistic"
          },
          "sending_enabled": {
            "type": "boolean",
            "description": "Whether sending is enabled for this domain.",
            "example": true
          },
          "dns_records": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DnsRecord"
            },
            "description": "The DNS records that need to be configured for this domain."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the domain was created.",
            "example": "2026-03-03 10:00:00"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the domain was last updated.",
            "example": "2026-03-03 10:00:00"
          }
        }
      },
      "DnsRecord": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier.",
            "example": "550e8400-e29b-41d4-a716-446655440000"
          },
          "record_type": {
            "type": "string",
            "enum": [
              "SPF",
              "DKIM",
              "DMARC",
              "MX",
              "CNAME",
              "TXT"
            ],
            "description": "The type of DNS record.",
            "example": "DKIM"
          },
          "name": {
            "type": "string",
            "description": "The DNS record name (hostname).",
            "example": "sendkit._domainkey.yourdomain.com"
          },
          "value": {
            "type": "string",
            "description": "The DNS record value.",
            "example": "v=DKIM1; k=rsa; p=MIGfMA0..."
          },
          "ttl": {
            "type": "integer",
            "description": "Time to live in seconds.",
            "example": 3600
          },
          "status": {
            "type": "string",
            "enum": [
              "not_started",
              "verified",
              "failed"
            ],
            "description": "The verification status of this DNS record.",
            "example": "verified"
          },
          "priority": {
            "type": [
              "integer",
              "null"
            ],
            "description": "The priority of the DNS record (for MX records).",
            "example": 10
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the record was created.",
            "example": "2026-03-03 10:00:00"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the record was last updated.",
            "example": "2026-03-03 10:00:00"
          }
        }
      },
      "PaginatedDomains": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Domain"
            }
          },
          "links": {
            "$ref": "#/components/schemas/PaginationLinks"
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        }
      },
      "CreateDomainRequest": {
        "type": "object",
        "required": [
          "name",
          "region"
        ],
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 255,
            "description": "The domain name to add.",
            "example": "yourdomain.com"
          },
          "region": {
            "type": "string",
            "maxLength": 50,
            "description": "The AWS region for the domain.",
            "example": "us-east-1"
          },
          "open_tracking": {
            "type": "boolean",
            "description": "Enable open tracking. Defaults to false.",
            "default": false,
            "example": true
          },
          "click_tracking": {
            "type": "boolean",
            "description": "Enable click tracking. Defaults to false.",
            "default": false,
            "example": true
          },
          "tls": {
            "type": "string",
            "enum": [
              "opportunistic",
              "enforced"
            ],
            "description": "TLS delivery mode. Defaults to opportunistic.",
            "default": "opportunistic",
            "example": "opportunistic"
          }
        }
      },
      "UpdateDomainRequest": {
        "type": "object",
        "properties": {
          "open_tracking": {
            "type": "boolean",
            "description": "Enable or disable open tracking.",
            "example": true
          },
          "click_tracking": {
            "type": "boolean",
            "description": "Enable or disable click tracking.",
            "example": true
          },
          "tls": {
            "type": "string",
            "enum": [
              "opportunistic",
              "enforced"
            ],
            "description": "TLS delivery mode.",
            "example": "enforced"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Error type identifier.",
            "example": "validation_error"
          },
          "message": {
            "type": "string",
            "description": "Human-readable error message.",
            "example": "The from address domain is not verified."
          }
        }
      },
      "Suppression": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for the suppression entry."
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "The suppressed email address."
          },
          "reason": {
            "type": "string",
            "enum": [
              "manual",
              "bounce",
              "complaint"
            ],
            "description": "The reason the email was suppressed."
          },
          "created_at": {
            "type": "string",
            "description": "When the entry was created.",
            "example": "2026-03-03 10:00:00"
          },
          "updated_at": {
            "type": "string",
            "description": "When the entry was last updated.",
            "example": "2026-03-03 10:00:00"
          }
        },
        "required": [
          "id",
          "email",
          "reason",
          "created_at",
          "updated_at"
        ]
      },
      "PaginatedSuppressions": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Suppression"
            }
          },
          "links": {
            "$ref": "#/components/schemas/PaginationLinks"
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        }
      },
      "CreateSuppressionRequest": {
        "type": "object",
        "required": [
          "email"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "The email address to suppress.",
            "example": "blocked@example.com"
          }
        }
      },
      "ValidateEmailRequest": {
        "type": "object",
        "required": [
          "email"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "The email address to validate.",
            "example": "user@example.com"
          }
        }
      },
      "ValidateEmailResponse": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "The email address that was validated."
          },
          "is_valid": {
            "type": "boolean",
            "description": "Whether the email address is considered valid."
          },
          "evaluations": {
            "type": "object",
            "description": "Detailed evaluation results.",
            "properties": {
              "has_valid_syntax": {
                "type": "boolean",
                "description": "Whether the email has valid syntax."
              },
              "has_valid_dns": {
                "type": "boolean",
                "description": "Whether the domain has valid DNS records."
              },
              "mailbox_exists": {
                "type": "boolean",
                "description": "Whether the mailbox exists on the server."
              },
              "is_role_address": {
                "type": "boolean",
                "description": "Whether this is a role-based address (e.g. info@, admin@)."
              },
              "is_disposable": {
                "type": "boolean",
                "description": "Whether the domain is a disposable email provider."
              },
              "is_random_input": {
                "type": "boolean",
                "description": "Whether the local part appears to be randomly generated."
              }
            }
          },
          "should_block": {
            "type": "boolean",
            "description": "Whether this email should be blocked from receiving emails."
          },
          "block_reason": {
            "type": [
              "string",
              "null"
            ],
            "description": "The reason the email should be blocked, if applicable."
          },
          "validated_at": {
            "type": "string",
            "description": "When the validation was performed.",
            "example": "2026-03-03 10:00:00"
          }
        }
      }
    }
  }
}
